* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-color: #343434;

    --primary-text-color: #d5d5d5;
    --secondary-text-color: #d1922c;
    --durability-text-color: #d1922c;
    --icon-color: #6a737d;
    --border-color: #ff9a0045;
    --text-decoration-color: #ff9a00;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 900px;
}

.fh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume {
    margin: 50px auto;
    padding: 30px 0;
    max-width: 900px;
    border-left: 1px solid var(--primary-text-color);
}

.resume__block {
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.p-15 {
    padding: 15px;
}

.fa-solid, .fa-brands {
    line-height: 1.3 !important;
}

.borderline-b {
    border-bottom: 1px solid var(--primary-text-color);
}

.contact-info__headers {
    display: flex;
    flex-direction: column;
}

.contact-info__header,
.contact-info__sub-header {
    font-family: 'Anton', sans-serif;
    text-align: left;
    letter-spacing: 2px;
}

.contact-info__header {
    font-size: 4rem;
    color: var(--primary-text-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}

.contact-info__sub-header {
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.contact-info__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info__block--center {
    justify-content: center;
}

.contact-info__item {
    position: relative;
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    justify-content: start;
}

.contact-info__item > span {
    color: var(--primary-text-color);
}

.contact-info__item > span {
    margin-bottom: 7px;
}

.contact-info__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-text-color);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in-out;
}

.contact-info__item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.contact-info__item:not(:last-child) {
    margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
    margin-right: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.contact-info__item-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.contact-info__avatar {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.intro {
    font-size: 1.1rem;
    display: flex;
    justify-content: start;
}

.intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    color: var(--secondary-text-color);
}

.intro__icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.intro_text {
    color: var(--primary-text-color);
    text-align: left;
}

.skills__header {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 28px;
    color: var(--secondary-text-color);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.skills_sub-header {
    font-size: large;
    color: var(--primary-text-color);
    margin-bottom: 15px;
}

.skills__text {
    color: var(--secondary-text-color);
    text-align: left;
}

.skills__text:not(:last-child) {
    margin-bottom: 20px;
}

.skills__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.skills__skill-container {
    width: 125px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.skills__icon {
    width: 125px;
    border-radius: 50%;
    filter:  grayscale(100%);
    transition: filter 500ms ease-in-out;
}

.skills__skill-container > span {
    text-align: center;
    color: var(--secondary-text-color);
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.skills__skill-container:hover > span {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.skills__skill-container:hover .skills__icon {
    filter: grayscale(0);
    transition: filter 500ms ease-in-out;
}

.experiences__header {
    font-family: 'Anton', sans-serif;
    color: var(--secondary-text-color);
    letter-spacing: 2px;
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.experiences__project-header-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.experiences__project-header-name {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
}

.experiences__project {
    margin-left: 15px;
    margin-bottom: 25px;
}

.experiences__project-role {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.experiences__project-name {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
}

.experiences__project-responsibilities {
    color: var(--primary-text-color);
    padding-left: 20px;
}

.additional-info {
    flex: 1 1 40%;
}

.additional-info__education {
    border-right: 1px solid var(--primary-text-color);
    padding-right: 30px;
    margin-bottom: 20px;
}

.additional-info__education-header {
    font-family: 'Anton', sans-serif;
    color: var(--secondary-text-color);
    letter-spacing: 2px;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__education-university-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.additional-info__education-university-speciality {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 5px;
}

.additional-info__education-university-name {
    color: var(--primary-text-color);
    margin-bottom: 25px;
}

.additional-info__languages {
    padding-right: 0;
    padding-left: 30px;
    margin-bottom: 20px;
}

.additional-info__languages-header {
    font-family: 'Anton', sans-serif;
    color: var(--secondary-text-color);
    letter-spacing: 2px;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__languages-item {
    color: var(--primary-text-color);
}

@media screen and (max-width: 576px) {

    .main-info,
    .contact_info_container {
        flex-direction: column;
    }

    .contact_info_container {
        align-items: center;
    }
    
    .contact-info__avatar {
        margin-bottom: 50px;
    }

    .contact-info__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .intro__icon-wrapper {
        margin-right: 10px;
    }

    .skills__container {
        flex: 50%;
    }

    .experiences {
        margin-right: 0;
    }

    .additional-info {
        flex-direction: column;
    }

    .additional-info__education {
        border-right: 0;
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid var(--primary-text-color);
    }

    .additional-info__languages {
        padding-right: 0;
        padding-left: 0;
    }
}